/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=La+Belle+Aurore:wght@400;700&display=swap');

/* Global Styles */
body {
    font-family: 'Merriweather', serif;
    background-color: #fef0f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Styles */
.main-header {
    text-align: center;
    width: 100%;
    padding: 20px 0;
    background-color: #f8e8f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10;
}

h1 {
    color: #d63384;
    font-family: 'La Belle Aurore', cursive;
    font-size: 3.5em;
}

/* Container Styles */
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* Photo Container Styles */
.photo-container {
    background-color: #fff;
    color: #444;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Poem Container Styles */
.poem-container {
    background-color: #fff;
    color: #444;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    border-left: 5px solid #ff4081;
    transition: all 0.3s ease-in-out;
}

.poem-container:hover {
    transform: scale(1.05);
    background-color: #f8e8f9;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'La Belle Aurore', cursive;
    font-size: 26px;
    color: #555;
}

/* Footer Styles */
.footer {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    background-color: #f8e8f9;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-family: 'Merriweather', serif;
    color: #333;
    font-size: 14px;
    margin: 0;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .main-header {
        padding: 15px 0;
    }

    h1 {
        font-size: 2em;
    }

    pre {
        font-size: 20px;
    }

    .footer {
        font-size: 12px;
    }
}
